.FeeDistribution {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: -50;
  display: block;
}

.FeeDistribution .FeeDistribution-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.FeeDistribution .FeeDistribution-container .FeeRange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
  outline: 1px solid black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4em 0;
}

.FeeDistribution .FeeDistribution-container .FeeRange .slider-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.FeeDistribution .FeeDistribution-container .FeeRange .slider-overlay .slider-bar {
  width: 73px;
  background-color: #2e394b;
  z-index: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  pointer-events: none;
}

.FeeDistribution .FeeDistribution-container .FeeRange .slider-overlay .slider-bar.slider-bar-win {
  bottom: 0;
}

.FeeDistribution .FeeDistribution-container .FeeRange .slider-overlay .slider-bar.slider-bar-lose {
  top: 0;
}

.FeeDistribution .FeeDistribution-container .FeeRange .slider-container {
  height: 200px;
  width: 100%;
  position: relative;
  z-index: 50;
}

.FeeDistribution .FeeDistribution-container .FeeRange .slider-container .slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin: 0;
  width: 200px;
  height: 100%;
  outline: none;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.FeeDistribution .FeeDistribution-container .FeeRange .slider-container .slider.slider-win {
  top: 98px;
}

.FeeDistribution .FeeDistribution-container .FeeRange .slider-container .slider.slider-lose {
  top: 25px;
}

.FeeDistribution .FeeDistribution-container .FeeRange .slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 73px;
  cursor: pointer;
}

.FeeDistribution .FeeDistribution-container .FeeRange .FeeDistribution-text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: inline-block;
  margin: 0;
  letter-spacing: 0px;
  border: 1px black;
  border-style: solid none;
  background-color: #fff;
  padding: 5px;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.FeeDistribution .FeeDistribution-container .FeeRange .FeeDistribution-text.FeeDistribution-text-first {
  border-style: solid none solid solid;
}

.FeeDistribution .FeeDistribution-container .FeeRange .FeeDistribution-text.FeeDistribution-text-last {
  border-style: solid solid solid none;
}

.FeeDistribution .FeeDistribution-container .slider-text {
  text-align: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.FeeDistribution .FeeDistribution-container .slider-text-bold {
  font-weight: 900;
}

.FeeDistribution .FeeDistribution-container .plus-fee-button {
  position: absolute;
  bottom: -35px;
  left: calc(50% - 8.5px);
  z-index: 60;
  cursor: pointer;
}

.FeeDistribution .FeeDistribution-container .minus-fee-button {
  position: absolute;
  top: -35px;
  left: calc(50% - 8.5px);
  z-index: 60;
  cursor: pointer;
}

.FeeDistribution .FeeDistribution-container .fee-button {
  height: 17px;
  width: 17px;
  background-color: #ffd778;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 1px 1px 5px #cecece;
          box-shadow: 1px 1px 5px #cecece;
}

.FeeDistribution .FeeDistribution-container .fee-button img {
  pointer-events: none;
  position: absolute;
  height: 13px;
  width: 13px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
/*# sourceMappingURL=LegalFeesDistrubution.css.map */