$height: 200px;
$width: 73px; //73

$Blue: #2e394b;

$Yellow: #ffd778;
$White: #fff;
$Red: #ff695a;
$Purple: #914696;
$Grey: #cecece;
$LightGrey: #e6e6e6;

.FeeDistribution {
  box-sizing: border-box;
  z-index: -50;
  display: block;
  .FeeDistribution-container {
    display: flex;
    flex-direction: row;
    position: relative;
    .FeeRange {
      display: flex;
      width: 100%;
      overflow: hidden;
      outline: 1px solid black;
      flex-direction: column;
      padding: 4em 0;
      .slider-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        .slider-bar {
          width: $width;
          background-color: $Blue;
          z-index: 0;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          pointer-events: none;
          &.slider-bar-win {
            bottom: 0;
          }
          &.slider-bar-lose {
            top: 0;
          }
        }
      }
      .slider-container {
        height: $height;
        width: 100%;
        position: relative;
        z-index: 50;

        .slider {
          -webkit-appearance: none;
          appearance: none;
          margin: 0;
          //Need to be swapped becuse of rotation
          width: $height;
          height: 100%;
          outline: none;
          //position: absolute;
          //left: -34px;
          transform: rotate(270deg);
          cursor: pointer;

          background-color: rgba($color: #000000, $alpha: 0.1);
          &.slider-win {
            top: 98px;
          }
          &.slider-lose {
            top: 25px;
          }
        }

        .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 0px;
          height: $width;
          cursor: pointer;
        }
      }
      .FeeDistribution-text {
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        display: inline-block;
        margin: 0;
        letter-spacing: 0px;
        border: 1px black;
        border-style: solid none;
        background-color: $White;
        padding: 5px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &.FeeDistribution-text-first {
          border-style: solid none solid solid;
        }
        &.FeeDistribution-text-last {
          border-style: solid solid solid none;
        }
      }
    }
    .slider-text {
      text-align: center;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      position: absolute;
      pointer-events: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .slider-text-bold {
      font-weight: 900;
    }

    .plus-fee-button {
      position: absolute;
      bottom: -35px;
      left: calc(50% - 8.5px);
      z-index: 60;
      cursor: pointer;
    }
    .minus-fee-button {
      position: absolute;
      top: -35px;
      left: calc(50% - 8.5px);
      z-index: 60;
      cursor: pointer;
    }
    .fee-button {
      height: 17px;
      width: 17px;
      background-color: $Yellow;
      border-radius: 50%;
      box-sizing: border-box;
      position: relative;
      box-shadow: 1px 1px 5px $Grey;

      img {
        pointer-events: none;
        position: absolute;
        height: 13px;
        width: 13px;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
