.RadioButton {
  font-family: 'Roboto', sans-serif;
  width: fit-content;

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    input[type='radio'] {
      display: none;
    }

    .RadioButton-btn {
      margin-right: 8px;
      border-radius: 50%;
      background-image: url('./radiobutton-unchecked.svg');
      background-repeat: no-repeat;
      background-size: 102%;
    }

    input[type='radio']:checked + .RadioButton-btn {
      background-image: url('./radiobutton-checked.svg');
      background-repeat: no-repeat;
    }
  }
}
