.RadioButton {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;

  input[type="radio"] {
    display: none;
  }

  .RadioButton-btn {
    height: 14px;
    width: 14px;
    margin-right: 12px;
    border-radius: 50%;
    background-image: url("./radiobutton-unchecked.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  input[type="radio"]:checked + .RadioButton-btn {
    background-image: url("./radiobutton-checked.svg");
  }
}
