p,
h1,
h2,
h3,
h4,
h5,
h6 * {
  cursor: default;
  margin: 0;
}

.inputNum-RO {
  line-height: 0;
  height: auto;
}

.inputNum-RO p {
  display: block;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

.inputNum-RO .inputNum-RO-label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  position: relative;
}

.inputNum-RO .inputNum-RO-label .inputNum-RO-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.inputNum-RO .inputNum-RO-label .inputNum-RO-label-text {
  position: absolute;
  z-index: 1;
  -webkit-transition: width 0.2s, top 0.2s, font-size 0.2s, padding 0.2s, left 0.2s;
  transition: width 0.2s, top 0.2s, font-size 0.2s, padding 0.2s, left 0.2s;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  border-radius: 2px;
}

.inputNum-RO .inputNum-RO-label .inputNum-RO-label-text .inputNum-RO-label-text-p {
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.inputNum-RO .inputNum-RO-label .inputNum-RO-label-text-label {
  color: #818181;
  top: -9.5px;
  left: 12.5px;
  font-size: 14px;
  font-weight: 600;
  pointer-events: none;
}

.inputNum-RO .inputNum-RO-label .inputNum-RO-label-text-label p {
  padding: 0 3px;
}

.inputNum-RO .inputNum-RO-label .inputNum-RO-label-text-label.inputNum-RO-label-selected {
  color: #2c79f7;
}

.inputNum-RO .inputNum-RO-label .inputNum-RO-label-text-label .inputNum-RO-label-background {
  width: auto;
  background-color: #fff;
  height: 5px;
  position: relative;
  top: -4.5px;
  z-index: -1;
}

.inputNum-RO .inputNum-RO-label .inputNum-RO-label-text-placeholder {
  color: #979797;
  top: 14.5px;
  left: 16px;
  font-size: 18px;
  pointer-events: none;
}

.inputNum-RO .inputNum-RO-label input {
  border-top: #818181 1px solid;
  border-left: #818181 1px solid;
  border-bottom: #818181 1px solid;
  border-right: #fff 0px solid;
  padding: 13px 0 13px 14px;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  width: 100%;
  background-color: #fff;
  outline: #fff 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inputNum-RO .inputNum-RO-label input.inputNum-RO-inputfield-selected {
  border-top: #2c79f7 2px solid !important;
  border-left: #2c79f7 2px solid !important;
  border-bottom: #2c79f7 2px solid !important;
  border-right: #fff 0px solid;
  padding: calc(13px - 1px) 0 calc(13px - 1px) calc(14px - 1px);
}

.inputNum-RO .inputNum-RO-label input:focus {
  outline: none;
}

.inputNum-RO .inputNum-RO-label input.inputNum-RO-noButton::-webkit-outer-spin-button,
.inputNum-RO .inputNum-RO-label input.inputNum-RO-noButton::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputNum-RO .inputNum-RO-label .inputNum-RO-suffix {
  background-color: #fff;
  border-top: #818181 1px solid;
  border-left: #fff 0px solid;
  border-bottom: #818181 1px solid;
  border-right: #818181 1px solid;
  padding: 13px 14px 13px 0;
  border-radius: 0 4px 4px 0;
  position: relative;
  padding: 13px 14px 13px 0;
  line-height: 0.1;
}

.inputNum-RO .inputNum-RO-label .inputNum-RO-suffix.inputNum-RO-suffix-selected {
  border-top: #2c79f7 2px solid;
  border-left: #fff 0px solid;
  border-bottom: #2c79f7 2px solid;
  border-right: #2c79f7 2px solid;
  padding: calc(13px - 1px) calc(14px - 1px) calc(13px - 1px) 0;
}

.inputNum-RO .inputNum-RO-label .inputNum-RO-suffix p {
  margin-left: 14px;
}

.inputNum-RO .inputNum-RO-label .inputNum-RO-suffix img {
  height: 22px;
  width: auto;
  margin-left: 6px;
}

.inputNum-RO .inputNum-RO-label .inputNum-RO-suffix.suffix-image {
  padding: calc(13px - 1px) calc(14px - 1px) calc(13px - 1px) 0;
}

.inputNum-RO .inputNum-RO-label .inputNum-RO-suffix.inputNum-RO-suffix-selected.suffix-image {
  padding: calc(13px - 2px) calc(14px - 2px) calc(13px - 2px) 0;
}

.inputNum-RO .inputNum-RO-label .inputNum-RO-helper-text {
  font-size: 12px;
  margin: 5px 14px 0 14px;
  line-height: 1.4;
}

.inputNum-RO .inputNum-RO-label .inputNum-RO-helper-text p {
  margin-top: 2px;
}

.inputNum-RO-error.inputNum-RO-label .inputNum-RO-label-text-label {
  color: #b00020;
  z-index: 1;
}

.inputNum-RO-error.inputNum-RO-label .inputNum-RO-label-text-label.inputNum-RO-label-selected.inputNum-RO-label-selected {
  color: #b00020;
}

.inputNum-RO-error.inputNum-RO-label input {
  border-top: #b00020 1px solid;
  border-left: #b00020 1px solid;
  border-bottom: #b00020 1px solid;
  border-right: #fff 0px solid;
  color: #b00020;
}

.inputNum-RO-error.inputNum-RO-label input.inputNum-RO-inputfield-selected {
  border-top: #b00020 2px solid !important;
  border-left: #b00020 2px solid !important;
  border-bottom: #b00020 2px solid !important;
  border-right: #fff 0px solid;
}

.inputNum-RO-error.inputNum-RO-label .inputNum-RO-suffix {
  border-top: #b00020 1px solid;
  border-bottom: #b00020 1px solid;
  border-right: #b00020 1px solid;
}

.inputNum-RO-error.inputNum-RO-label .inputNum-RO-suffix.inputNum-RO-suffix-selected {
  border-top: #b00020 2px solid;
  border-bottom: #b00020 2px solid;
  border-right: #b00020 2px solid;
}

.inputNum-RO-error.inputNum-RO-label .inputNum-RO-suffix p {
  color: #b00020;
  margin-left: 14px;
}

.inputNum-RO-error.inputNum-RO-label .inputNum-RO-helper-text {
  color: #b00020;
}

.inputNum-RO-label.inputNum-RO-smallField .inputNum-RO-label-text-label {
  top: -7.5px;
  font-size: 12px;
}

.inputNum-RO-label.inputNum-RO-smallField .inputNum-RO-label-text-placeholder {
  color: #979797;
  top: 9.5px;
  font-size: 14px;
}

.inputNum-RO-label.inputNum-RO-smallField input {
  padding: 8.5px 0 8.5px 14px;
  font-size: 14px;
}

.inputNum-RO-label.inputNum-RO-smallField input.inputNum-RO-inputfield-selected {
  padding: calc(8.5px - 1px) 0 calc(8.5px - 1px) calc(14px - 1px);
}

.inputNum-RO-label.inputNum-RO-smallField .inputNum-RO-suffix {
  padding: calc(8.5px + 1px) 14px calc(8.5px - 1px) 0;
  font-size: 14px;
}

.inputNum-RO-label.inputNum-RO-smallField .inputNum-RO-suffix.suffix-image {
  padding: calc(8.5px - 3px) calc(14px - 3px) calc(8.5px - 3px) 0;
}

.inputNum-RO-label.inputNum-RO-smallField .inputNum-RO-suffix.inputNum-RO-suffix-selected {
  padding: calc(8.5px - 0px) calc(14px - 1px) calc(8.5px - 2px) 0;
}

.inputNum-RO-label.inputNum-RO-smallField .inputNum-RO-suffix.inputNum-RO-suffix-selected.suffix-image {
  padding: calc(8.5px - 3.5px) calc(14px - 4px) calc(8.5px - 3.5px) 0;
}

.inputNum-RO-label.inputNum-RO-smallField .inputNum-RO-helper-text {
  margin: 5px 14px 0 14px;
}
/*# sourceMappingURL=InputNumReadOnly.css.map */