$Blue: #2e394b;
$BlueClicked: #181f29;

$Selected: #2c79f7;
$Yellow: #ffd778;
$White: #fff;
$Red: #ff695a;
$Purple: #914696;
$Grey: #cecece;
$LightGrey: #e6e6e6;

$PV: 13px; //Padding Vertically
$PH: 44px; //Padding Horizontally

.button {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.02857em;
  border-radius: 5px;
  padding: $PV $PH;
  line-height: 1;

  text-transform: uppercase;
  &.button-NoUpperCase {
    text-transform: none;
  }

  cursor: pointer;
  .button-container {
    display: flex;
    flex-direction: row;

    .button-label {
      margin: 0;
      p {
        user-select: none;
        margin-block-start: 0em;
        margin-block-end: 0em;
        width: 100%;
      }
    }
    .button-icon-container {
      height: 18px;
      width: 18px;
      user-select: none;

      &.button-icon-right {
        margin-left: 12px;
      }
      &.button-icon-left {
        margin-right: 12px;
      }
      .button-icon {
        height: 100%;
        width: 100%;
      }
    }
  }

  &.button-type-contained {
    background-color: $Blue;
    p {
      color: $White;
    }
  }
  &.button-type-contained:active {
    background-color: $BlueClicked;
  }

  &.button-type-outlined {
    background-color: $White;
    border: 1px $Blue solid;
    padding: calc(#{$PV - 1px}) calc(#{$PH} - 1px);
    p {
      color: $Blue;
    }
    &.button-with-icon {
      padding: calc(#{$PV - 1px}) calc(#{$PH} - 9.5px) calc(#{$PV - 1px})
        calc(#{$PH} - 22.5px);
    }
  }
  &.button-type-outlined:active {
    background-color: $LightGrey;
  }

  &.button-type-text {
    background-color: $White;
    p {
      color: $Blue;
    }
  }
  &.button-type-text:active {
    background-color: $LightGrey;
  }

  &.button-type-nonactive {
    background-color: $Grey;
    p {
      color: $White;
    }
  }

  &.button-with-icon {
    padding: 11.5px 35.5px 11.5px 22.5px;
    padding: calc(#{$PV + 0px}) calc(#{$PH} - 8.5px) calc(#{$PV + 0px})
      calc(#{$PH} - 21.5px);
  }
}
