$Blue: #2e394b;
$Selected: #2c79f7;
$PlaceHolderGrey: #979797;
$White: #fff;
$Red: #b00020;
$Grey: #818181;
$PH: 14px; //Padding Horizontally
$PV: 13px; //Padding Vertically
$PVs: 8.5px; //Padding Vertically small

.App {
  background-color: #f0f0f0;
  height: 100vh;
}
// Remove
p,
h1,
h2,
h3,
h4,
h5,
h6 * {
  cursor: default;
  margin: 0;
}

.dataList {
  line-height: 0;
  height: auto;
  position: relative;
  p {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
  .dataList-label {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    position: relative;

    .dataList-container {
      display: flex;
      flex-direction: row;
      position: relative;
    }

    //label/placeholder

    .dataList-label-text {
      position: absolute;
      z-index: 1;
      transition: width 0.2s, top 0.2s, font-size 0.2s, padding 0.2s, left 0.2s;
      white-space: nowrap;
      overflow: hidden;
      height: auto;
      border-radius: 2px;

      .dataList-label-text-p {
        transition: max-width 0.5s;
      }
    }
    .dataList-label-text-label {
      p {
        color: $Grey;
      }
      top: -9.5px;
      left: 12.5px;
      font-size: 14px;
      font-weight: 600;
      pointer-events: none;
      p {
        padding: 0 3px;
      }
      .dataList-label-background {
        width: auto;
        background-color: $White;
        height: 5px;
        position: relative;
        top: -4.5px;
        z-index: -1;
      }
    }
    .dataList-label-text-placeholder {
      color: $PlaceHolderGrey;
      top: 14.5px;
      left: 16px;
      font-size: 18px;
      pointer-events: none;
    }
    input {
      border: $Grey 1px solid;
      border-style: solid none solid solid;
      padding: $PV 0 $PV $PH;
      border-radius: 4px 0 0 4px;
      font-size: 18px;
      width: 100%;
      background-color: $White;
      outline: $White 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &.dataList-inputfield-selected {
        border: $Selected 2px;
        border-style: solid none solid solid;
        padding: calc(#{$PV} - 1px) 0 calc(#{$PV} - 1px) calc(#{$PH} - 1px);
      }
    }
    input:focus {
      outline: none;
    }
    input.dataList-noButton::-webkit-outer-spin-button,
    input.dataList-noButton::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .dataList-suffix {
      background-color: $White;
      border: $Grey 1px;
      border-style: solid solid solid none;
      padding: #{$PV} #{$PH} #{$PV} 0;
      border-radius: 0 4px 4px 0;
      position: relative;
      padding: $PV $PH $PV 0;
      line-height: 0.1;
      cursor: pointer;
      .dataList-suffix-empty {
        margin-left: calc(#{$PH} + 5px);
      }
      .dataList-dropDown-button {
        position: absolute;
        height: 100%;
        top: 0;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        pointer-events: none;
        img {
          width: 12px;
          padding: 0 2px 1px;
        }
      }
      &.dataList-suffix-selected {
        border: $Selected 2px;
        border-style: solid solid solid none;
        padding: calc(#{$PV} - 1px) calc(#{$PH} - 1px) calc(#{$PV} - 1px) 0;
      }
      p {
        margin-left: 26px;
      }
      img {
        height: 22px;
        width: auto;
        margin-left: 6px;
      }
      &.suffix-image {
        padding: calc(#{$PV} - 1px) calc(#{$PH} - 1px) calc(#{$PV} - 1px) 0;

        .dataList-dropDown-button {
          position: absolute;
          right: 40px;
          top: 0;
        }
      }
      &.dataList-suffix-selected {
        &.suffix-image {
          padding: calc(#{$PV} - 2px) calc(#{$PH} - 2px) calc(#{$PV} - 2px) 0;
          .dataList-dropDown-button {
            position: absolute;
            right: 39px;
            top: 0;
          }
        }
      }
    }

    .datalist-dropdown-container {
      position: relative;

      .datalist-dropdown {
        position: absolute;
        top: 0;
        z-index: 300;
        background-color: white;
        border: 1px $Selected;
        border-style: none solid solid solid;
        width: calc(100% - 2px);
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          padding: 10px $PH;
          list-style: none;
          font-size: 14px;
        }
        li:first-child {
          padding: 16px $PH 10px;
          list-style: none;
          font-size: 14px;
        }
        li:hover {
          background-color: rgb(233, 232, 232);
        }
      }
      .datalist-dropdown-background {
        position: absolute;
        top: -$PV;
        background-color: $White;
        border: 1px $Blue;
        border-style: none solid none solid;
        width: calc(100% - 2px);
        height: $PV;
        margin: 0;
        padding: 0;
        z-index: -30;
      }
    }
  }
}

.dataList-helper-text {
  font-size: 12px;
  margin: 5px 14px 0 14px;
  p {
    margin-top: 2px;
    line-height: 1.4;
  }
}

//Error styling
.dataList-error.dataList-label {
  .dataList-label-text-label {
    p {
      color: $Red;
    }
    z-index: 1;
    &.dataList-label-selected {
      p {
        color: $Red;
      }
    }
  }

  .datalist-dropdown-container {
    .datalist-dropdown {
      border: 1px $Red;
      border-style: none solid solid solid;
    }
  }

  input {
    border: $Red 1px;
    border-style: solid none solid solid;
    &.dataList-inputfield-selected {
      border: $Red 2px;
      border-style: solid none solid solid;
    }
  }

  .dataList-suffix {
    border: $Red 1px;
    border-style: solid solid solid none;
    &.dataList-suffix-selected {
      border: $Red 2px;
      border-style: solid solid solid none;
    }
    p {
      color: $Red;
      margin-left: 14px;
    }
  }
}
.dataList-helper-text {
  .dataList-helper-text-error {
    color: $Red;
  }
}

// Small ---------------------------------------------

.dataList-label.dataList-smallField {
  .dataList-label-text-label {
    top: -7.5px;
    font-size: 12px;
  }
  .dataList-label-text-placeholder {
    color: $PlaceHolderGrey;
    top: 9.5px;
    font-size: 14px;
  }
  input {
    padding: $PVs 0 $PVs $PH;
    font-size: 14px;

    &.dataList-inputfield-selected {
      padding: calc(#{$PVs} - 1px) 0 calc(#{$PVs} - 1px) calc(#{$PH} - 1px);
    }
  }

  .dataList-suffix {
    padding: calc(#{$PVs} + 1px) $PH calc(#{$PVs} - 1px) 0;
    font-size: 14px;

    &.suffix-image {
      padding: calc(#{$PVs} - 3px) calc(#{$PH} - 3px) calc(#{$PVs} - 3px) 0;
    }
    &.dataList-suffix-selected {
      padding: calc(#{$PVs} - 0px) calc(#{$PH} - 1px) calc(#{$PVs} - 2px) 0;
      &.suffix-image {
        padding: calc(#{$PVs} - 4px) calc(#{$PH} - 4px) calc(#{$PVs} - 4px) 0;
      }
    }
  }
}
