.App {
  background-color: #f0f0f0;
  height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 * {
  cursor: default;
  margin: 0;
}

.dataList {
  line-height: 0;
  height: auto;
  position: relative;
}

.dataList p {
  display: block;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

.dataList .dataList-label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  position: relative;
}

.dataList .dataList-label .dataList-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.dataList .dataList-label .dataList-label-text {
  position: absolute;
  z-index: 1;
  -webkit-transition: width 0.2s, top 0.2s, font-size 0.2s, padding 0.2s, left 0.2s;
  transition: width 0.2s, top 0.2s, font-size 0.2s, padding 0.2s, left 0.2s;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  border-radius: 2px;
}

.dataList .dataList-label .dataList-label-text .dataList-label-text-p {
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.dataList .dataList-label .dataList-label-text-label {
  color: #818181;
  top: -9.5px;
  left: 12.5px;
  font-size: 14px;
  font-weight: 600;
  pointer-events: none;
}

.dataList .dataList-label .dataList-label-text-label p {
  padding: 0 3px;
}

.dataList .dataList-label .dataList-label-text-label.dataList-label-selected {
  color: #2c79f7;
}

.dataList .dataList-label .dataList-label-text-label .dataList-label-background {
  width: auto;
  background-color: #fff;
  height: 5px;
  position: relative;
  top: -4.5px;
  z-index: -1;
}

.dataList .dataList-label .dataList-label-text-placeholder {
  color: #979797;
  top: 14.5px;
  left: 16px;
  font-size: 18px;
  pointer-events: none;
}

.dataList .dataList-label input {
  border: #818181 1px solid;
  border-style: solid none solid solid;
  padding: 13px 0 13px 14px;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  width: 100%;
  background-color: #fff;
  outline: #fff 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dataList .dataList-label input.dataList-inputfield-selected {
  border: #2c79f7 2px;
  border-style: solid none solid solid;
  padding: calc(13px - 1px) 0 calc(13px - 1px) calc(14px - 1px);
}

.dataList .dataList-label input:focus {
  outline: none;
}

.dataList .dataList-label input.dataList-noButton::-webkit-outer-spin-button,
.dataList .dataList-label input.dataList-noButton::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dataList .dataList-label .dataList-suffix {
  background-color: #fff;
  border: #818181 1px;
  border-style: solid solid solid none;
  padding: 13px 14px 13px 0;
  border-radius: 0 4px 4px 0;
  position: relative;
  padding: 13px 14px 13px 0;
  line-height: 0.1;
}

.dataList .dataList-label .dataList-suffix .dataList-suffix-empty {
  margin-left: calc(14px + 5px);
}

.dataList .dataList-label .dataList-suffix .dataList-dropDown-button {
  position: absolute;
  height: 100%;
  top: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.dataList .dataList-label .dataList-suffix .dataList-dropDown-button img {
  width: 12px;
  padding: 0 2px 1px;
}

.dataList .dataList-label .dataList-suffix.dataList-suffix-selected {
  border: #2c79f7 2px;
  border-style: solid solid solid;
  padding: calc(13px - 1px) calc(14px - 1px) calc(13px - 1px) 0;
}

.dataList .dataList-label .dataList-suffix p {
  margin-left: 26px;
}

.dataList .dataList-label .dataList-suffix img {
  height: 22px;
  width: auto;
  margin-left: 6px;
}

.dataList .dataList-label .dataList-suffix.suffix-image {
  padding: calc(13px - 1px) calc(14px - 1px) calc(13px - 1px) 0;
}

.dataList .dataList-label .dataList-suffix.suffix-image .dataList-dropDown-button {
  position: absolute;
  right: 40px;
  top: 0;
}

.dataList .dataList-label .dataList-suffix.dataList-suffix-selected.suffix-image {
  padding: calc(13px - 2px) calc(14px - 2px) calc(13px - 2px) 0;
}

.dataList .dataList-label .dataList-suffix.dataList-suffix-selected.suffix-image .dataList-dropDown-button {
  position: absolute;
  right: 39px;
  top: 0;
}

.dataList .dataList-label .dataList-helper-text {
  font-size: 12px;
  margin: 5px 14px 0 14px;
}

.dataList .dataList-label .dataList-helper-text p {
  margin-top: 2px;
  line-height: 1.4;
}

.dataList .dataList-label .datalist-dropdown-container {
  position: relative;
}

.dataList .dataList-label .datalist-dropdown-container .datalist-dropdown {
  position: absolute;
  top: 0;
  z-index: 300;
  background-color: white;
  border: 1px #818181;
  border-style: none solid solid solid;
  width: calc(100% - 2px);
  margin: 0;
  padding: 0;
  list-style: none;
}

.dataList .dataList-label .datalist-dropdown-container .datalist-dropdown li {
  padding: 10px 14px;
  list-style: none;
  font-size: 14px;
}

.dataList .dataList-label .datalist-dropdown-container .datalist-dropdown li:first-child {
  padding: 16px 14px 10px;
  list-style: none;
  font-size: 14px;
}

.dataList .dataList-label .datalist-dropdown-container .datalist-dropdown li:hover {
  background-color: #e9e8e8;
}

.dataList .dataList-label .datalist-dropdown-container .datalist-dropdown-background {
  position: absolute;
  top: -13px;
  background-color: #fff;
  border: 1px #2e394b;
  border-style: none solid none solid;
  width: calc(100% - 2px);
  height: 13px;
  margin: 0;
  padding: 0;
  z-index: -30;
}

.dataList-error.dataList-label .dataList-label-text-label {
  z-index: 1;
}

.dataList-error.dataList-label .dataList-label-text-label p {
  color: #b00020;
}

.dataList-error.dataList-label .dataList-label-text-label.dataList-label-selected p {
  color: #b00020;
}

.dataList-error.dataList-label input {
  border: #b00020 1px;
  border-style: solid none solid solid;
}

.dataList-error.dataList-label input.dataList-inputfield-selected {
  border: #b00020 2px;
  border-style: solid none solid solid;
}

.dataList-error.dataList-label .dataList-suffix {
  border: #b00020 1px;
  border-style: solid solid solid none;
}

.dataList-error.dataList-label .dataList-suffix.dataList-suffix-selected {
  border: #b00020 2px;
  border-style: solid solid solid none;
}

.dataList-error.dataList-label .dataList-suffix p {
  color: #b00020;
  margin-left: 14px;
}

.dataList-error.dataList-label .dataList-helper-text {
  color: #b00020;
}

.dataList-label.dataList-smallField .dataList-label-text-label {
  top: -7.5px;
  font-size: 12px;
}

.dataList-label.dataList-smallField .dataList-label-text-placeholder {
  color: #979797;
  top: 9.5px;
  font-size: 14px;
}

.dataList-label.dataList-smallField input {
  padding: 8.5px 0 8.5px 14px;
  font-size: 14px;
}

.dataList-label.dataList-smallField input.dataList-inputfield-selected {
  padding: calc(8.5px - 1px) 0 calc(8.5px - 1px) calc(14px - 1px);
}

.dataList-label.dataList-smallField .dataList-suffix {
  padding: calc(8.5px + 1px) 14px calc(8.5px - 1px) 0;
  font-size: 14px;
}

.dataList-label.dataList-smallField .dataList-suffix.suffix-image {
  padding: calc(8.5px - 3px) calc(14px - 3px) calc(8.5px - 3px) 0;
}

.dataList-label.dataList-smallField .dataList-suffix.dataList-suffix-selected {
  padding: calc(8.5px - 0px) calc(14px - 1px) calc(8.5px - 2px) 0;
}

.dataList-label.dataList-smallField .dataList-suffix.dataList-suffix-selected.suffix-image {
  padding: calc(8.5px - 4px) calc(14px - 4px) calc(8.5px - 4px) 0;
}

.dataList-label.dataList-smallField .dataList-helper-text {
  font-size: 12px;
  margin: 5px 14px 0 14px;
}
/*# sourceMappingURL=DataList.css.map */