@import "./_input.scss";

.component-container {
  margin: 2em 1em;
  h3 {
    margin: 0 0 0.3em 0;
    font-size: 20px;
  }
  .RadioButton {
    margin: 0.3em 0;
  }
  .component-title {
    display: flex;
    button {
      margin-left: 1em;
      height: 24px;
    }
  }
}
html * {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #2e394b;
}

.styling-container {
  position: absolute;
  right: 0;
  top: 0;
  background-color: lightblue;
  height: 100%;
  min-height: 100vh;
  width: 20em;
  z-index: 22;
  padding: 4em 2em 2em 2em;
  .style-wrap {
    margin: 0.5em 0em;
    label {
      display: flex;
      margin: 0 0 0.2em 0;
      .style-info {
        position: absolute;
        background-color: white;
        padding: 0.5em;
        width: 16em;
        pointer-events: none;
        border-radius: 0.3em;
        border: thin solid gray;
      }
      p {
        background-color: white;
        height: 1em;
        width: 1em;
        text-align: center;
        border-radius: 1em;
        margin: 0 0.2em 0 0;
        font-size: 0.9em;
        cursor: none;
        font-family: "Roboto", sans-serif;
      }
    }
    .input-wrap {
      display: flex;
      p {
        margin: 0.2em;
      }
    }
    /*bool*/
    .style-bool {
      img {
        height: 2em;
      }
    }
  }
}

.closeBtn {
  position: absolute;
  right: 8.7em;
  top: 10px;
  z-index: 23;
  cursor: pointer;
  font-size: 2em;
  font-family: "Zapf Dingbats";
}
