$Blue: #2e394b;
$BlueClicked: #181f29;

$Selected: #2c79f7;
$Yellow: #ffd778;
$White: #fff;
$Red: #ff695a;
$Purple: #914696;
$Grey: #cecece;
$LightGrey: #e6e6e6;

$PV: 13px; //Padding Vertically
$PH: 44px; //Padding Horizontally

.multiRange {
  background-color: bisque;
}
