$Blue: #2e394b;
$BlueClicked: #181f29;

$Selected: #2c79f7;
$Yellow: #ffd778;
$White: #ffffff;
$Red: #b00020;
$Purple: #914696;
$Grey: #cecece;
$LightGrey: #e6e6e6;

$PV: 13px; //Padding Vertically
$PH: 44px; //Padding Horizontally

.multiRange {
  position: relative;
  pointer-events: none;
  font-family: "Roboto", sans-serif;
  height: 100px;

  .multiRange-label {
    font-size: 18px;
  }
  .multiRange-container {
    position: absolute;
    top: 0;
    input[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      height: 0px;
    }
    input[type="range" i] {
      margin: 0;
    }

    input[type="range"]::-webkit-slider-thumb {
      pointer-events: auto;
      margin-top: -14px;
      width: 16px;
      height: 36px;
      border: 1px solid #000000;
      border-radius: 3px;
      cursor: pointer;
      -webkit-appearance: none;
    }

    .multiRange-value-display-up {
      height: 3em;
      position: relative;
    }

    .multiRange-value-display-down {
      height: 2em;
      position: relative;
    }

    .multiRange-value-up {
      white-space: nowrap;
      position: absolute;
      margin-block-start: 0em;
      margin-block-end: 0em;
      bottom: 0;
    }
    .multiRange-value-down {
      white-space: nowrap;
      position: absolute;
      margin-block-start: 0em;
      margin-block-end: 0em;
    }

    .multiRange-value-hide {
      display: none;
      position: absolute;
    }
  }

  .multiRange-bar {
    background-color: grey;
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 40px;
    z-index: -3;
  }
}
